# How to import data set that are used for data analysis by using pandas libraries
Written by: Taskeen Hussain\
date: 24-11-2024\
email: taskeenuaf@gmail.com

### 1- Kaggle.com
### 2- Google data search
### 3- Github.com
### 4- FAO state.com
### 5- World Bank Open Data
### 6- websites i.e wiki , blogs, forums, etc.
### 7- Stats
### 8- Nadra
### 9- Crime detection data DNA, Forensic science
### 10- Business analytics us dollar up down data, stock exchange (suit webseries of N/flex on ML data)
### 11- uni data base
### 12- Research papers, journals, etc.

## data/ sets/ base in libraries
### pandas 
### seaborn
### sci kit learn
#### data preprocessing in python
#### data visualization in python
#### data analysis EDA in python
#### data modeling in python
#### data mining in python
#### data science in python
#### data engineering in python
#### data architecture in python
#### reports and ML & DL

# Step by step guide for use of libraries

In [ ]:
#Step- 1 installation of pandas if not installed before
pip install pandas

In [4]:
# step- 2 import pandas libraries
import pandas as pd

In [ ]:
#Step- 3 import openpyxl for using excel file
import openpyxl

In [8]:
#Step- 4 reading and importing dataset
pd.read_excel("pandas_day6.xlsx") # if your dataset is not your folder you have to write path of your dataset/file.

#Step- 5 name the dataset for future use  
df = pd.read_excel("pandas_day6.xlsx") 
df

    height  weight favourite_Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

## how to check data shape
#### head
#### tail
#### centor

In [9]:
df.head()

   height  weight favourite_Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

In [10]:
df.tail()

    height  weight favourite_Dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [12]:
df.shape

(87, 3)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     float64
 1   weight          87 non-null     int64
 2   favourite_Dish  86 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

In [14]:
df.infer_objects()

    height  weight favourite_Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]